.contacts {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;

    @include mobile {
      justify-content: center;
      text-align: center;
      gap: 0;
    }
  }

  &__form {
    max-width: 556px;
  }

  &__radio {
    margin-bottom: 40px;
    padding-left: 35px;
    input:checked {
      &::before {
        content: '';
        width: 16px;
        height: 16px;
        display: block;
        border-radius: 50%;
        background-color: var(--green);
      }
    }
    input[type='radio'] {
      position: absolute;
      visibility: hidden;

      &::before {
        cursor: pointer;
        content: '';
        visibility: visible;
        display: block;
        position: relative;
        z-index: 5;
        border-radius: 50%;
        top: -4px;
        left: -35px;
        width: 28px;
        height: 28px;
        border: 1px solid var(--black);
      }
    }
    & div {
      cursor: pointer;
      display: inline-block;
    }
    & div:first-child {
      margin-right: 50px;
    }
    & label {
      cursor: pointer;
    }

    @include mobile {
      display: flex;
      justify-content: center;
    }
  }

  &__label {
    font-size: 18px;
    line-height: 175%;
    margin-bottom: 6px;
  }

  &__input {
    margin-bottom: 24px;
    input {
      font-size: 18px;
      border: 1px solid var(--black);
      border-radius: 14px;
      padding: 18px 30px;
      width: 556px;
      height: 60px;

      @include mobile {
        padding: 18px 20px;
        width: 330px;
      }
      @media (max-width: 350px) {
        width: 280px;
      }
    }
  }

  &__textarea {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 20px;
    }

    textarea {
      font-size: 18px;
      border: 1px solid var(--black);
      border-radius: 14px;
      padding: 18px 30px;
      width: 556px;
      height: 190px;
      resize: none;

      @include mobile {
        padding: 18px 20px;
        width: 330px;
        height: 132px;
      }
      @media (max-width: 350px) {
        width: 280px;
      }
    }
  }

  &__btn {
    width: 100%;

    @media (max-width: 350px) {
      width: 280px;
    }
  }
  &__image {
    @include mobile {
      display: none;
    }
  }
}
